
.mat-card-area
  background-color: rgb(233, 245, 253)
  align-items: center
  max-width: 45%
  margin: 30px
  display: flex

.mat-form-principal
  margin-left: 5px

.mat-card-add
  display: flex
  justify-content: center
  align-items: center
  background: primary

.mat-card-simples
  max-width: 300px
  background-color: aliceblue
  margin: 30px

.mat-card-buttons-action
  display: flex
  align-items: center
  justify-content: center